// set values here, otherwise those defined will be the default

// -------------------------------------------------------------- 
// ------------------------------------------------- SELECT THEME 
// -------------------------------------------------------------- 
// ---------------------- (copy/paste from availables):
// $theme: 'default';
// $theme: 'fixed_header';
// $theme: 'scroll_to_section'; **TODO**

$theme: 'fixed_header';
//$theme: 'default';


// -------------------------------------------------------------- 
// ----------------------------------------------- COLOR SETTINGS
// -------------------------------------------------------------- 
// -------------------- set to true and set base_color
// --------------- or to false (black and white theme)
// --------------------------------------------------- 

$has_colors: true;

$base_color: #2196F3;

// ----------------- used for testing 

// $base_color: #009688;
// $base_color: #E91E63;
 $base_color: #4CAF50;
// $base_color: #F57F17;
// $base_color: #795548;
// $base_color: #000;
// $base_color: #fff;
// $base_color: #FFCDD2;
// $base_color: #3F51B5;
// $base_color: #F44336;


// -------------------------------------------------------------- 
// ----------------------------------------------- FONTS SETTINGS 
// --------------------------------------------------------------  

$font_ratio: 16px;

$font_family_1: sans-serif;

$font_family_2: serif;


// -------------------------------------------------------------- 
// ------------------------------------------- INCLUDE COMPONENTS 
// --------------------------------------------------------------  
// ------------------------------ set to true or false
// --------------------------------------------------- 

$has_sidebar: true;
$is_fixed_sidebar: true;

$has_color_swapper: true;


// -------------------------------------------------------------- 
// ----------------------------------------------- SET DIMENSIONS 
// --------------------------------------------------------------

// ----------------- LAYOUT 

$layout_max_width: 1000px;
$layout_min_width: 250px;


// ----------------- HEADER 

$header_height: 100px;


// ----------------- FOOTER 

$footer_height: 60px;






















